Checks: >
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  modernize-*,
  readability-*,
  performance-*,
  misc-unused-parameters,
  portability-simd-intrinsics,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type
WarningsAsErrors: 'bugprone-*,clang-diagnostic-*'
HeaderFilterRegex: '^(src|lib|include/(?!secrets\.h$))(?!.*(test|tests)/)'
FormatStyle: file
ExtraArgs: ['-std=gnu++17']
CheckOptions:
  - key: readability-qualified-auto.AllowMemberFunctionsWithTemplateReturnType
    value: '1'
